/* Individual movie page */
.movie-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
    border-radius: 12px;
    color: var(--color1);
}

.review-content{
    margin-top: 5vh; 
    color: #0F0F0F; 
    font-size: 12px; 
    text-align: center;
}
.review-content form {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}

/* ::before makes a virtual element like a child of the review button that appears before it */
.dropdown-btn::before {
    content: ""; /* needed for the element to appear*/
    position: absolute;
    left: 0;
    bottom: 23px;
    width: 100%;
    height: 2px;
    background:  var(--color1);
    transform: scaleX(1);
    transition: transform 300ms ease;
}

/* Makes the line under grow when the review is expanded*/
.dropdown-btn.active::before {
    transform: scaleX(0);
}

.dropdown-btn{
    position: relative;
    border: none;
    background: none;
    color: var(--color1);
    letter-spacing: 1px;
    font-weight: 600;
    transition: color 100ms ease;
    cursor: pointer;
}

.dropdown-btn:hover{
    color: var(--color2);
}

/* ::after makes a virtual element like a child of the review button taht appears after */
.dropdown-btn::after {
    content: ""; /* needed for the element to appear*/
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background:  var(--color1);
    transform: scaleX(0);
    transition: transform 300ms ease;
}

/* Makes the line under grow when the review is expanded*/
.dropdown-btn.active::after {
    transform: scaleX(1);
}

#reviewDropdown {
    display: none;
    flex-direction: column;
    gap: 8px;
}

.review-content textarea {
    resize: none;
    box-sizing: border-box;
    width: 90%;
    height: 125px;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    transition: all 0.3s ease;
    outline: none;
}

.review-content textarea:focus {
    border-color: var(--color2);
}

.submit-btn {
    width: 90%;
    box-sizing: border-box;
    background-color: var(--color2);
    color: var(--color3);
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
    letter-spacing: 1px;
}

.submit-btn:hover {
    background-color: var(--color4);
}

.redirect{
    font-size: var(--font2);
    text-decoration: underline;
    color: var(--color2); 
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}

.star-rating{
    margin-top: 8px;
    display: flex; 
    gap: 10px; 
    justify-content: center;
    flex-direction: row-reverse;
    font-size: calc(1.5vh + 0.9vw);
}

.star-rating label {
    color: #c1bfb4;
    cursor: pointer;
    transition: color 0.5s;
}

.star-rating input[type="radio"] {
    display: none;
}

/* So basically, first part checks if a star is clicked on, if so it will light up it and the stars taht come before it (swirly -)*/
/* Next if the user hovers over a star it turns gold*/
/* Finally all the stars before the one the user is on also turn gold */
.star-rating input:checked ~ label, .star-rating label:hover, .star-rating label:hover ~ label {
    color: #ffd041;
}
