/* ALL css stylesheets for each page*/
@import url("./css/home.css");
@import url("./css/layout.css");
@import url("./css/login+signup.css");
@import url("./css/movie.css");
@import url("./css/movies.css");

/* Variable declarations */
:root{
    --color1: #0000;
    --color2: #c20000;
    --color3: #fffef3;
    --color4: #a00000;
    --color5: #ffff;
    --font1: clamp(1.5rem, 4vw, 2rem) ;
    --font2: 18px;
}


/* Body and other important stuff */
body{
    margin: 0;
    background-color: var(--color3)
}

*{
    font-family: "Oswald", sans-serif;
}

img{
    width: 100%;
}
