/* ALL css stylesheets for each page*/
@import url("./css/home.css");
@import url("./css/layout.css");
@import url("./css/login+signup.css");
@import url("./css/movie.css");
@import url("./css/movies.css");

/* Variable declarations */
:root{
    --black: #000000;
    --lightred: #ff6666;
    --darkred: #8b0000;
    --white: #ffffff;
    --pinky: #ffc0cb;
    --font1: clamp(1.5rem, 4vw, 2rem) ;
    --font2: 20px;
}


/* Body and other important stuff */
body{
    margin: 0;
    background-color: #fffef3;
}

*{
    font-family: "Oswald", sans-serif;
}

img{
    width: 100%;
}
