<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="error-container">
        <h1 style="font-style: italic;">404 Error :(</h1>
        <h1>Yo whatcha tryin' to do?</h1>
        <p>Sorry but this page can't be found!</p>
        <a href="/"> Return to the homepage &#x2794;</a>
    </div>
</body>
</html>