{% extends "layout.html" %}

{% block body %}
<div style="margin-top:80px;">
    <div class="duality">

        <div class="section-container">
            <h2>NEW</h2>
            <!-- Sideways scrollbar for popular -->
            <div class="scrollbar-container">
                {% for result in results %}
                <div class="scrollbar">
                    <!-- Img with lik to its indivisual page -->
                    <a href="{{ url_for('individual_movie', id=result['item_id']) }}">
                        <img src="{{result['imgURL']}}" alt ="An image of {{result['name']}}">
                        <div class="scrollbar-hover">
                            <span>{{result['name']}}</span>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>


        <div class="section-container">
            <h2>POPULAR</h2>
            <!-- Sideways scrollbar for new -->
            <div class="scrollbar-container">
                {% for result in results %}
                <div class="scrollbar">
                    <!-- Img with lik to its indivisual page -->
                    <a href="{{ url_for('individual_movie', id=result['item_id']) }}">
                        <img src="{{result['imgURL']}}" alt ="An image of {{result['name']}}">
                        <div class="scrollbar-hover">
                            <span>{{result['name']}}</span>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>


{% endblock %}