{% extends "layout.html" %}

{% block body %}
<div class="welcome-container">
    <div class="welcome">
        <h1>Welcome to Popcorn</h1>
        <p>Discover, review, and keep track of your favorite films. Check out some popular movies below!</p>
    </div>
</div>

<div class="home-content">

    <section class="section-container">
        <h2>NEW RELEASES (side scroll)</h2>
        
        <!-- Sideways scrollbar for new realeses -->
        <div class="scrollbar-container">
            {% for result in results2 %}
            <div class="scrollbar">
                <!-- Img with lik to its indivisual page -->
                <a href="{{ url_for('individual_movie', id=result['item_id']) }}">
                    <img src="{{result['imgURL']}}" alt ="Movie poster for {{result['name']}}">
                    <div class="scrollbar-hover">
                        <span>{{result['name']}}</span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="section-container">
        <h2>POPULAR (side scroll)</h2>
        <!-- Sideways scrollbar for new -->
        <div class="scrollbar-container">
            {% for result in results %}
            <div class="scrollbar">
                <!-- Img with lik to its indivisual page -->
                <a href="{{ url_for('individual_movie', id=result['item_id']) }}">
                    <img src="{{result['imgURL']}}" alt ="Movie poster for  {{result['name']}}">
                    <div class="scrollbar-hover">
                        <span>{{result['name']}}</span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>

</div>


{% endblock %}