<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "{{url_for('static', filename='style.css')}}">
    <title>Popcorn</title>
</head>
<body>

    <nav class="navbar">
        <div class="navbar-container">

            <div class="navbar-left">
                <div class="navbar-logo">
                    <a href="{{url_for('home')}}">
                        <img src="{{ url_for('static', filename='images/logo.webp')}}" alt="Popcorn logo">
                        <span>POPCORN</span>
                    </a>
                </div>
                <a class="navbar-links" href="{{url_for('movies')}}">MOVIES</a>
               <form method="get" action="{{ url_for('search') }}">
                    <input name="searchbar" type="text" placeholder="Search...">
                </form>
            </div>

            <div class="navbar-right">
                {% if g.user %}
                    <span class="navbar-links">{{ g.user['username'].upper() }}</span>
                    <a class="navbar-links" href="{{ url_for('logout') }}">LOGOUT</a>
                {% else %}
                    <a class="navbar-links" href="{{ url_for('login') }}">LOGIN/SIGNUP</a>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block body %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
    
</body>
</html>