{% extends "layout.html" %}

{% block body %}
<div class ="account-container">
    <span style="font-size: 24px; color: #ffff; font-weight: 600;">LOGIN</span>
    <form method="POST" action="login">
        <input type="text" name="username" value="{{ username if username }}" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>

        <!-- Gets the message by checking the messages taht I have flashed -->
         {% with messages = get_flashed_messages(category_filter=["login"]) %} 
          {% if messages %}
            {% for message in messages %}
              <div class="error-msg">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        
    
        <button type="submit">CONTINE</button>
        <div style="display: block; margin-top: 15px; color: #ffff;">
          <span>or</span>
          <a class="signup-link" href="{{url_for('signup')}}">SIGN UP</a>
      </div>
    </form>
</div>
{% endblock %}