{% extends "layout.html" %}

{% block body %}
<div class ="account-container">
    <span style="font-size: 24px; color: #ffff; font-weight: 600;">LOGIN</span>
    <form method="POST" action="login">
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" value="{{ username if username }}" placeholder="Password" required><br>

         {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="error-msg">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        
    
        <button type="submit">CONTINE</button>
        <a href="{{url_for('signup')}}">
            <span class="signup-link">or SIGN UP</span>
        </a>
    </form>
</div>
{% endblock %}