{% extends "layout.html" %}

{% block body %}
<!-- Displays the movie poster etc-->
<div class="movie-container">
    <div class="movie-poster">
        <img src="{{movie['imgURL']}}" alt="An image of the movie {{movie['name']}}">
    </div>

    <!-- Movie name and desciption -->
    <div>
        <div>
            <h1 style="margin-top: 0;">{{movie['name']}}</h1>
            {% if movie_rating %}
                <h4>{{movie_rating}} <span style="color: #ffd041;">★</span></h4>
            {% else %}
                <h4>UNRATED</h4>
            {% endif %}
            <h4>{{movie['description']}}</h4>
        </div>

        <!-- Checks if a user is logged in -->
        {% if g.user %}

            <!-- Checks if they have already left an review on this page -->
            {% if user_review %}
                <div class="review-content">
                    <div id="edit-review-top-master-of-puppets">
                        <div class="edit-review-top">
                            <span id="user-rating">Your Review: {{ user_review['rating'] }} <span style="color: #ffd041;">★</span></span>
                            <button id="edit-review-btn" type="button">EDIT</button>
                        </div>
                    </div>

                    {% if user_review['review'] %}
                    <div id="review-box">
                        <p class="user-review">{{ user_review['review'] }}</p>
                    </div>
                    {% endif %}
                    
                    <form id="edit-review-form" method="post" action="{{ url_for('review') }}">
                        <input type="hidden" name="movie_id" value="{{ movie['item_id'] }}">

                        <div class="star-rating">
                            {% for i in range(5, 0, -1) %}
                                <!-- the jinja in the input is usde to check if the star matches the users preslected star, then applies checked to it  -->
                                <input type="radio" id="edit{{i}}star" name="star" value="{{i}}" {% if user_review['rating'] == i %} checked {% endif %}>
                                <label for="edit{{i}}star" title="{{i}} stars">★</label>
                            {% endfor %}
                        </div>
                        <textarea name="review" placeholder="Update your review...">{{ user_review['review'] }}</textarea>
                        <button type="submit" class="submit-btn">SAVE CHANGES</button>
                    </form>
                </div>

            {% else %}

            <!-- If they haven't then it will let them -->
            <div class="review-content">
                <button id="dropdown-btn">REVIEW</button>
                <form style="gap: 10px;" id="review-dropdown" method="post" action="{{url_for('review')}}">
                    <input type="hidden" name="movie_id" value="{{movie['item_id']}}">

                    <!-- Allow the user to alsp leave a star rating! -->
                    <div class="star-rating">
                        {% for i in range(5, 0, -1) %}
                            <input type="radio" id="{{i}}star" name="star" value="{{i}}">
                            <label for="{{i}}star" title="{{i}} stars">★</label>
                        {% endfor %}
                    </div>

                    <textarea name="review" placeholder="Tell us what you think..."></textarea>
                    <button type="submit" class="submit-btn">SUBMIT</button>
                </form>
            </div>
            {% endif %}
        
        <!-- If there isnt a logged in user it leaves a log in redirect -->
        {% else %}
            <div style="margin-top: 15vh; font-size: 12px; text-align: center;">
                <a href="{{ url_for('login') }}">
                    <!-- Redirect button -->
                    <button class="redirect">PLEASE LOGIN TO REVIEW</button>
                </a>
            </div>
        {% endif %}
    </div>
</div>

{% if reviews %}
    <div class="reviews-container">
            <span class="reviews-container-title">Reviews</span>
        {% for review in reviews %}
            <div class="individual-review">
                <p style="font-size: 14px; font-style: italic; color: #6e6c67; margin-bottom: 2px; margin-left: 2px;">{{ review['username'] }}</p>
                <div class="all-review-stars">
                    {% for i in range(1, 6) %}
                        <span class="{% if i <= review['rating'] %}selected{% endif %}">★</span>
                    {% endfor %}
                </div>
                <p>{{ review['review'] }}</p>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}

{% block script %}
<script>
    // Js for making a new review
    const toggleBtn = document.getElementById("dropdown-btn");
    const form = document.getElementById("review-dropdown");

    if (toggleBtn && form) {
        toggleBtn.addEventListener("click", () => {
            toggleBtn.classList.toggle("active");
            form.classList.toggle("active");
        });
    }   

    // Js for editing an existing review
    const editBtn = document.getElementById("edit-review-btn");
    const editForm = document.getElementById("edit-review-form");
    const editReview = document.getElementById("review-box");
    const editRating = document.getElementById("user-rating");
    const editTopMaster = document.getElementById("edit-review-top-master-of-puppets");

    // sets editing to false
    let editing = false;

    if (editBtn) {
        editBtn.addEventListener("click", () => {
            // switches editing between true and false
            editing = !editing;

            if (editing) {
                editBtn.textContent = "CANCEL";
            } else {
                editBtn.textContent = "EDIT";
            
            }

        // the editing is to tell it to switch if editing is true
        editForm.classList.toggle("active", editing);
        editReview.classList.toggle("hide", editing);
        editRating.classList.toggle("hide", editing);
        editTopMaster.classList.toggle("on", editing);
        });
    }
</script>
{% endblock %}