{% extends "layout.html" %}

{% block body %}
<!-- Displays the movie poster etc-->
<div class="movie-container">
    <div class="movie-poster">
        <img src="{{movie['imgURL']}}" alt=" A image of the movie {{movie['name']}}">
    </div>

    <!-- Movie name and desciption -->
    <div style="display: inline-block;">
        <div>
            <h1 style="margin-top: 0;">{{movie['name']}}</h1>
            {% if movie_rating %}
                <h4>{{movie_rating}}</h4>
            {% else %}
                <h4>UNRATED</h4>
            {% endif %}
            <h4>{{movie['description']}}</h4>
        </div>

        <!-- Checks if a user is logged in -->
        {% if g.user %}

            <!-- Checks if they have alreafy left a review on this movie-->
            {% if user_review  %}
                    <div style="margin-top: 15vh;font-size: 12px; text-align: center;">
                        <h3>Your rating: {{user_review['rating']}}</h3>
                        <h3>Your review:</h3>
                        <h3>{{user_review['review']}}</h3> 
                    </div>
            {% else %}

            <!-- If they haven't then it will let them -->
            <div class="review-content">
                <button id="dropdown-btn" class="dropdown-btn">REVIEW</button>
                <form style="gap: 10px;" id="reviewDropdown" method="post" action="{{url_for('review')}}">
                    <input type="hidden" name="movie_id" value="{{movie['item_id']}}">
                    <div>
                        <!-- Allow the user to alsp leave a star rating! -->
                        <div class="star-rating">
                            <input type="radio" id="5star" name="star" value="5">
                            <label for="5star" title="5 stars">★</label>

                            <input type="radio" id="4star" name="star" value="4">
                            <label for="4star" title="4 stars">★</label>

                            <input type="radio" id="3star" name="star" value="3">
                            <label for="3star" title="3 stars">★</label>

                            <input type="radio" id="2star" name="star" value="2">
                            <label for="2star" title="2 stars">★</label>

                            <input type="radio" id="1star" name="star" value="1">
                            <label for="1star" title="1 star">★</label>
                        </div>
                    </div>

                    <textarea name="review" placeholder="Tell us what you think..."></textarea>
                    <button type="submit" class="submit-btn">SUBMIT</button>
                </form>
            </div>
            {% endif %}
        
        <!-- If there isnt a logged in user it leaves a log in redirect -->
        {% else %}
            <div style="margin-top: 15vh;font-size: 12px; text-align: center;">
                <a href="{{ url_for('login') }}">
                    <!-- Redirect button -->
                    <span class="redirect">PLEASE LOGIN TO REVIEW</span>
                </a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    const toggleBtn = document.getElementById("dropdown-btn");
    const form = document.getElementById("reviewDropdown");

    if (toggleBtn && form) {
        toggleBtn.addEventListener("click", () => {
            toggleBtn.classList.toggle("active");
            form.classList.toggle("active");
        });
}
</script>
{% endblock %}