{% extends "layout.html" %}

{% block body %}
<!-- Title -->
<div class="title">
    <div>MOVIES</div>
    <!-- Filter option: MUST ADD -->
    <button id="filtersbtn" class="filtersbtn">FILTERS</button>
</div>

<div id="modul-container" class="modul-container">
    <button id="exitbtn">&#x2716;</button>
    <div class="modul">
        <button>a</button>
        <button>b</button>
        <button>c</button>
        <button>d</button>
        <button>e</button>
        <button>confirm</button>
    </div>
</div>

<div class="movies-parent">
    <!-- Displays every movie in db: May need to change -->
    {% for result in results %}
    <div class="movies">
        <a href="{{ url_for('individual_movie', id=result['item_id']) }}">
            <!-- Movie Img -->
            <img src="{{result['imgURL']}}" alt ="An image of {{result['name']}}">
            <!-- Overlay that appears when you hover on it -->
            <div class="movie-overlay">
                <span>{{result['name']}}</span>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}


{% block script %}
<script>
    const filterbtn = document.getElementById("filtersbtn");
    const modulContainer = document.getElementById("modul-container");
    const closebtn = document.getElementById("exitbtn")

    filterbtn.addEventListener("click", () => {
        modulContainer.classList.toggle("show");
    });

    closebtn.addEventListener("click", () => {
        modulContainer.classList.toggle("show")
    });
</script>
{% endblock %}