{% extends "layout.html" %}

{% block body %}
<!-- Title -->
<div class="title">
    <div>MOVIES</div>
    <!-- Filter option: MUST ADD -->
    <button id="filtersbtn" class="filtersbtn">FILTERS</button>

    <div class="modul-container">
        <div id="modul" class="modul">
            <button>a</button>
            <button>b</button>
            <button>c</button>
            <button>d</button>
            <button>e</button>
            <button>confim</button>
        </div>
    </div>
</div>


<div class="movies-parent">
    <!-- Displays every movie in db: May need to change -->
    {% for result in results %}
    <div class="movies">
        <a href="{{ url_for('individual_movie', id=result['item_id']) }}">
            <!-- Movie Img -->
            <img src="{{result['imgURL']}}" alt ="An image of {{result['name']}}">
            <!-- Overlay that appears when you hover on it -->
            <div class="movie-overlay">
                <span>{{result['name']}}</span>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}


{% block script %}
<script>
    const filterbtn = document.getElementById("filtersbtn");
    const modulMagic = document.getElementById("modul");

    if (filterbtn && modulMagic){
        filterbtn.addEventListener("click", () => {
            modulMagic.classList.toggle("show");
    });}
</script>
{% endblock %}