{% extends "layout.html" %}

{% block body %}
<!-- Title -->
<div class="title">
    <div>MOVIES</div>
    <!-- Filter option: MUST ADD -->
    <button id="filtersbtn" class="filtersbtn">FILTERS</button>
</div>

<div id="modul-container" class="modul-container">
    <button id="exitbtn">&#x2716;</button>
    <div class="modul">

        <button id="genresbtn" class="dropdown button">Genres</button>

        <div class="dropdown-container">
            <div id="dropdown-content"> 
                {% for result in genres %}
                    <button type="button" class="genre-filter-btn button" data-genre="{{ result['name'] }}">{{result['name']}}</button>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

<div class="movies-parent">
    <!-- Displays every movie in db: May need to change -->
    {% for result in movies %}
    <div class="movies">
        <a href="{{ url_for('individual_movie', id=result['item_id']) }}">
            <!-- Movie Img -->
            <img src="{{result['imgURL']}}" alt ="An image of {{result['name']}}">
            <!-- Overlay that appears when you hover on it -->
            <div class="movie-overlay">
                <span>{{result['name']}}</span>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}


{% block script %}
<script>
    // Js for the modul 
    // variable decleration
    const filterbtn = document.getElementById("filtersbtn");
    const modulContainer = document.getElementById("modul-container");
    const closebtn = document.getElementById("exitbtn");

    // modul show when filter btn is clicked
    filterbtn.addEventListener("click", () => {
        modulContainer.classList.toggle("show");
    });

    // modul hide when close btn is clciked
    closebtn.addEventListener("click", () => {
        modulContainer.classList.toggle("show");
    });

    // modul hide when window is clicked
    window.addEventListener("click", (event) => {
        // prevents closing if modul or anything in it is clicked
       if (event.target !== filterbtn && !modulContainer.contains(event.target)) {
            if (modulContainer.classList.contains('show')) {
                modulContainer.classList.remove('show');
            }
    }
    });

    // Js for the genre dropdown
    // variable dec
    const genresbtn = document.getElementById("genresbtn");
    const dropdownContent = document.getElementById("dropdown-content");

    // toggle the status of the dropdown
    genresbtn.addEventListener("click", () => {
        dropdownContent.classList.toggle("open");
    });

    // Js for the genre btns to filter out results
    // variable dec
   const genreButtons = document.querySelectorAll('.genre-filter-btn');

   // Loops through each button in the genreButtons and adds event listeners etc
    genreButtons.forEach(button => {
        button.addEventListener('click', (e) => {

            // Gets the genre of the button I assigned it
            const selectedGenre = e.target.getAttribute('data-genre');
            
            // Sends the request to app.py as a JSON
            fetch(`/api/movies?genre=${selectedGenre}`)
                .then(response => response.json())

                .then(data => {

                    // Clears the othe rmovies that were on the page
                    const container = document.querySelector('.movies-parent');
                    container.innerHTML = ''; 
                    
                    // Goes through the new movies and adds them
                    data.forEach(movie => {
                        const movieDiv = document.createElement('div');
                        movieDiv.className = 'movies'; 
                        
                        // Makes the html for the new movies
                        movieDiv.innerHTML = `
                            <a href="/individual_movie/${movie.item_id}">
                                <img src="${movie.imgURL}" alt="An image of ${movie.name}">
                                <div class="movie-overlay">
                                    <span>${movie.name}</span>
                                </div>
                            </a>
                        `;
                        
                        // Adds it to the movies-parent
                        container.appendChild(movieDiv);
                    });
                })
        });
    });
</script>
{% endblock %}