{% extends "layout.html" %}

{% block body %}
<div class ="account-container">
    <span style="font-size: 24px; color: #ffff; font-weight: 600;">SIGN UP</span>
    <form method="POST" action="signup">
        <input type="text" name="username" value="{{ username if username }}" placeholder="Username" required><br>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="error-msg">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="password" name="confirm-password" placeholder=" Confirm Password" required><br>
        <input type="text" name="email" value="{{ email if email }}"" placeholder="Email"><br>
        <button type="submit">CONTINUE</button>
    </form>
</div>
{% endblock %}